
<%- include('../partials/header.ejs')%>
<div class = "connart">
    <h2>Welcome, <%=user.firstName%></h2>
    <p> &nbsp;</p>
    <p> &nbsp;</p>
    
    <p> &nbsp;</p>    
    <%if(events.length) {%>
        <p>You have created the following events</p>
        <table style="width:50%">
            <tr >
              <th id =first>Event Name</th>
              <th id =first>Category</th>
              <th id =last>Action</th>
            </tr>
            <%events.forEach(event => {%>
            <tr>
                <td id = first><a href = '/connections/<%= event.id%>'><p><%=event.Title%></p></a></td>
                <td id = first><a href = '/connections/<%= event.id%>'><p><%=event.Type%></p></a></td>
                <td id =last>
                        <div><form action="/connections/<%= event.id%>/update" ><input type="submit" value="Update" id = "maybe1"/></form>
                        <form action= "/connections/<%= event.id%>?_method=DELETE" ><input type="submit" value="Delete" id = "No1" formmethod="POST" ></form></div>

                </td>
            </tr>
            <%});%>
        </table>
  
            <h2><%=name%>'s RSVP's</h2>
    <% if(rsvps.length > 0) {%>	
    <form>		
        <table>
            <tr>
                <th id ="first">Event Name</th>
                <th id ="first">Category</th>  
                <th id ="first">Going?</th>  				
                <th id ="first">Actions</th>
            </tr>
            <% rsvps.forEach(element=>{%>
                <tr>
                    <td id ="first"><%=element.connection.Title%></td>
                    <td id ="first"><%=element.connection.Type%></td>  
                    <td id ="first"><%=element.action%></td>   				
                     <td id ="first">
                        <button type="submit" id="updateButton" formmethod="GET" formaction="/connections/<%=element.connection._id%>" class="event_action" >Update</button>
                        <button type="submit" formmethod="POST" formaction="/rsvp/<%= element.connection._id%>?_method=DELETE" class="event_action">Delete</button>						
                    </td>
                </tr>
                <%});%>
        </table>
    </form>
        <%} else { %>
            <h2>You have not rsvped any events.</h2>
        <%} %>






        
    <%} else {%>
        <p>You have not created any stories</p>
    <%}%>
    </div>
    <%- include('../partials/footer.ejs')%>